html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 104px;
}

main {
    flex: 1, 0, auto;
}

footer {
    margin-top: auto;
}